.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;

    background-image: url("intro_back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}
