.reason__text {
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    text-transform: uppercase;

    padding: 0 3%;
}

@media (max-width: 767px) {
    .reason__text {
        padding-right: 5%;
        padding-left: 5%;
    }
}
